{% extends 'web/base.html' %}
{% load static %}





{% block content %}
{% include 'includes/header.html' %}
{% include 'includes/header-two.html' %}

    <div class="our-process-area text-center default-padding-top bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="heading-center text-center">
                        <h5>How we work</h5>
                        <h2>Future is brighter when you're <br> stratigicaly more prepared</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="process-list-items">
                <div class="row">
                    <!-- Single Item -->
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="item">
                            <div class="icon">
                                <i class="flaticon-secure"></i>
                                <span>01</span>
                            </div>
                            <h4>Case Analysis</h4>
                            <p>
                                Such on help ye some door if in. Laughter proposal laughing any son law consider. Needed except up piqued an.
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="item">
                            <div class="icon">
                                <i class="flaticon-seo"></i>
                                <span>02</span>
                            </div>
                            <h4>Strategic Advice</h4>
                            <p>
                                Such on help ye some door if in. Laughter proposal laughing any son law consider. Needed except up piqued an.
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="item">
                            <div class="icon">
                                <i class="flaticon-complaint"></i>
                                <span>03</span>
                            </div>
                            <h4>Insight Implementation</h4>
                            <p>
                                Such on help ye some door if in. Laughter proposal laughing any son law consider. Needed except up piqued an.
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Work Process -->

    <!-- Star Clients Area
    ============================================= -->
    <div class="clients-area default-padding-bottom">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-12">
                    <div class="partner-carousel owl-carousel owl-theme">
                        <img src="{% static 'web/img/150x80.png' %}" alt="Partner">
                        <img src="{% static 'web/img/150x80.png' %}" alt="Partner">
                        <img src="{% static 'web/img/150x80.png' %}" alt="Partner">
                        <img src="{% static 'web/img/150x80.png' %}" alt="Partner">
                        <img src="{% static 'web/img/150x80.png' %}" alt="Partner">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Clients Area -->

    <!-- Start Pricing Area
    ============================================= -->
    <div class="pricing-area default-padding bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="heading-center text-center">
                        <h5>Our Packages</h5>
                        <h2>Take a look of our Pricing and select Your Choice</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="pricing pricing-simple text-center">
                <div class="row">
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="pricing-item">
                            <div class="pricing-header">
                                <h4>Basic Plan</h4>
                                <i class="flaticon-rocket"></i>
                                <h2><sup>$</sup>24.66 <sub>/ Mo</sub></h2>
                            </div>
                            <ul>
                                <li>10 Keywords Optimized  <i class="fas fa-check-circle"></i></li>
                                <li>3 Top 10 Ranking  <i class="fas fa-times-circle"></i></li>
                                <li>Web site Analysis  <i class="fas fa-times-circle"></i></li>
                                <li>Keyword Research  <i class="fas fa-check-circle"></i></li>
                                <li>Content Optimization  <i class="fas fa-check-circle"></i></li>
                            </ul>
                            <div class="pricing-footer">
                                <a class="btn circle btn-dark border btn-sm" href="#">Buy This Plan</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="pricing-item active">
                            <div class="pricing-header">
                                <h4>Starter Plan</h4>
                                <i class="flaticon-medal"></i>
                                <h2><sup>$</sup>29.12 <sub>/ Mo</sub></h2>
                            </div>
                            <ul>
                                <li>12 Keywords Optimized  <i class="fas fa-check-circle"></i></li>
                                <li>6 Top 10 Ranking  <i class="fas fa-check-circle"></i></li>
                                <li>Web site Analysis  <i class="fas fa-times-circle"></i></li>
                                <li>Keyword Research  <i class="fas fa-check-circle"></i></li>
                                <li>Content Optimization  <i class="fas fa-check-circle"></i></li>
                            </ul>
                            <div class="pricing-footer">
                                <a class="btn circle btn-theme effect btn-sm" href="#">Buy This Plan</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="pricing-item">
                            <div class="pricing-header">
                                <h4>Premium Plan</h4>
                                <i class="flaticon-value"></i>
                                <h2><sup>$</sup>59.50 <sub>/ Mo</sub></h2>
                            </div>
                            <ul>
                                <li>16 Keywords Optimized  <i class="fas fa-check-circle"></i></li>
                                <li>8 Top 10 Ranking  <i class="fas fa-check-circle"></i></li>
                                <li>Web site Analysis  <i class="fas fa-times-circle"></i></li>
                                <li>Keyword Research  <i class="fas fa-check-circle"></i></li>
                                <li>Content Optimization  <i class="fas fa-check-circle"></i></li>
                            </ul>
                            <div class="pricing-footer">
                                <a class="btn circle btn-dark border btn-sm" href="#">Buy This Plan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Pricing Area -->

    <!-- Star Testimonials
    ============================================= -->
    <div class="testimonials-area default-padding-bottom bg-gray">
        <div class="container">
            <div class="testimonial-items text-center">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="heading">
                            <h2>10,000+ Happy Customers</h2>
                        </div>
                        <div class="testimonials-carousel owl-carousel owl-theme">
                            <div class="item">
                                <p>
                                    Ashamed no inhabit ferrars it ye besides resolve. Own judgment directly few trifling. Elderly as pursuit at regular do parlors. Rank what has into fond pursuit at regular. 
                                </p>
                                <div class="thumb-box">
                                    <div class="thumb">
                                        <img src="{% static 'web/img/100x100.png' %}" alt="Thumb">
                                    </div>
                                </div>
                                <h5>Jonath Dark</h5>
                                <span>Senior Developer</span>
                            </div>
                            <div class="item">
                                <p>
                                    Ashamed no inhabit ferrars it ye besides resolve. Own judgment directly few trifling. Elderly as pursuit at regular do parlors. Rank what has into fond pursuit at regular. 
                                </p>
                                <div class="thumb-box">
                                    <div class="thumb">
                                        <img src="{% static 'web/img/100x100.png' %}" alt="Thumb">
                                    </div>
                                </div>
                                <h5>Jonath Dark</h5>
                                <span>Senior Developer</span>
                            </div>
                            <div class="item">
                                <p>
                                    Ashamed no inhabit ferrars it ye besides resolve. Own judgment directly few trifling. Elderly as pursuit at regular do parlors. Rank what has into fond pursuit at regular. 
                                </p>
                                <div class="thumb-box">
                                    <div class="thumb">
                                        <img src="{% static 'web/img/100x100.png' %}" alt="Thumb">
                                    </div>
                                </div>
                                <h5>Jonath Dark</h5>
                                <span>Senior Developer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials -->

    <!-- Star Blog
    ============================================= -->
    <div class="blog-area full-blog default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="heading-center text-center">
                        <h5>Latest News</h5>
                        <h2>Most Popular Breaking News & Top Stories</h2>
                    </div>
                </div>
            </div>
            <div class="blog-items">
                <div class="row">
                    <!-- Single Item -->
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'web/img/1500x1000.png' %}" alt="Thumb">
                                <div class="date">15 Jul, 2021</div>
                            </div>
                            <div class="info">
                                <h4>
                                    <a href="#">Discovery incommode earnestly commanded</a>
                                </h4>
                                <div class="footer-meta">
                                   <ul>
                                       <li>
                                           <img src="{% static 'web/img/100x100.png' %}" alt="Author">
                                           <span>By </span>
                                           <a href="#">John Baus</a>
                                       </li>
                                       <li>
                                           <span>In </span>
                                           <a href="#">Agency</a>
                                       </li>
                                   </ul>
                                </div>
                                <p>
                                    Sitting mistake towards his few country ask. You delighted two rapturous pointing depending objection happiness.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                     <!-- Single Item -->
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'web/img/1500x1000.png' %}" alt="Thumb">
                                <div class="date">26 Aug, 2021</div>
                            </div>
                            <div class="info">
                                <h4>
                                    <a href="#">Extremely depending he gentleman improving. </a>
                                </h4>
                                <div class="footer-meta">
                                   <ul>
                                       <li>
                                           <img src="{% static 'web/img/100x100.png' %}" alt="Author">
                                           <span>By </span>
                                           <a href="#">Mun Paul</a>
                                       </li>
                                       <li>
                                           <span>In </span>
                                           <a href="#">Digital</a>
                                       </li>
                                   </ul>
                                </div>
                                <p>
                                    Sitting mistake towards his few country ask. You delighted two rapturous pointing depending objection happiness.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                     <!-- Single Item -->
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'web/img/1500x1000.png' %}" alt="Thumb">
                                <div class="date">18 Sep, 2021</div>
                            </div>
                            <div class="info">
                                <h4>
                                    <a href="#">Prevailed remainder may propriety can and. </a>
                                </h4>
                                <div class="footer-meta">
                                   <ul>
                                       <li>
                                           <img src="{% static 'web/img/100x100.png' %}" alt="Author">
                                           <span>By </span>
                                           <a href="#">Hesam Doe</a>
                                       </li>
                                       <li>
                                           <span>In </span>
                                           <a href="#">Creative</a>
                                       </li>
                                   </ul>
                                </div>
                                <p>
                                    Sitting mistake towards his few country ask. You delighted two rapturous pointing depending objection happiness.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog -->

    <!-- Star Contact Area
    ============================================= -->
    <div class="contact-area overflow-hidden default-padding bg-gray">
        
        <div class="container">
            <div class="contact-items">
                <!-- Fixed BG -->
                <div class="fixed-bg left">
                    <img src="{% static 'web/img/shape/38.p' %}ng" alt="Shape">
                </div>
                <!-- Fixed BG -->
                <div class="row align-center">
                
                    <div class="col-lg-6 contact-box">
                        <div class="form-items">
                            <h2>You can connect with us when need help!</h2>
                            <form action="{% static 'web/mail/contact.php" method="POST" class="contact-form">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input class="form-control" id="name" name="name" placeholder="Name" type="text">
                                            <span class="alert-error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input class="form-control" id="email" name="email" placeholder="Email*" type="email">
                                            <span class="alert-error"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input class="form-control" id="phone" name="phone" placeholder="Phone" type="text">
                                            <span class="alert-error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group comments">
                                            <textarea class="form-control" id="comments" name="comments" placeholder="Tell Us About Project *"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button class="btn-animation dark border" type="submit" name="submit" id="submit">
                                            Send Message <i class="arrow_right"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- Alert Message -->
                                <div class="col-lg-12 alert-notification">
                                    <div id="message" class="alert-msg"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1 left-info">
                        <div class="info-items text-light">
                            <!-- Single Item -->
                            <div class="item">
                                <div class="icon">
                                    <i class="flaticon-location"></i>
                                </div>
                                <div class="info">
                                    <h5>Location</h5>
                                    <p>
                                        22 Baker Street, London, <br> United Kingdom, W1U 3BW
                                    </p>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="item">
                                <div class="icon">
                                    <i class="flaticon-telephone"></i>
                                </div>
                                <div class="info">
                                    <h5>Make a Call</h5>
                                    <p>
                                        +44-20-7328-4499
                                    </p>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="item">
                                <div class="icon">
                                    <i class="flaticon-email"></i>
                                </div>
                                <div class="info">
                                    <h5>Send a Mail</h5>
                                    <p>
                                        info@yourdomain.com
                                    </p>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <ul class="social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Area -->
    {% endblock %}

   