
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    {% load static %}
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="{% url 'web:index' %}">
                        <img src="{% static 'web/img/logo.png' %}" class="logo" alt="Logo">
                    </a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown" >Home</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'web:index_startup' %}">Startup Agency</a></li>
                                
                                
                                
                                <li><a href="{% url 'web:index' %}">Creative Agency</a></li>
                               
                            </ul>
                        </li>

                        